:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  
  color-scheme: light;
  color: #000;                     /* normal black text */
  background-color: #ffffff;       /* white background */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

.page-title {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 30px;
  text-align: left;
  color: #000; 
}